<html>
  <head>
    <title>Waypoints in Directions</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!--<link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>-->
	<style type="text/css">
	/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

#directions-panel {
  margin-top: 10px;
}

	</style>
	<script language="javascript">
	
	

   
	
	
	function initMap() {
  const directionsService = new google.maps.DirectionsService();
  const directionsRenderer = new google.maps.DirectionsRenderer();
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: { lat: 10.790483, lng: 78.704673 },
  });

	
	//////////////////
	var locations = [
      ['Trichy', 10.8168, 78.7689, 4],
    ];
	 var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
//marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
	////////////////////////////////////////

	
  directionsRenderer.setMap(map);
  
 // document.getElementById("gg").value="";
  //document.getElementById("submit").addEventListener("click", () => {
    calculateAndDisplayRoute(directionsService, directionsRenderer);
	
  //});
}

function calculateAndDisplayRoute(directionsService, directionsRenderer) {
  const waypts = [];
  const checkboxArray = document.getElementById("waypoints");

  for (let i = 0; i < checkboxArray.length; i++) {
    if (checkboxArray.options[i].selected) {
	
	
      waypts.push({
        location: checkboxArray[i].value,
        stopover: true,
      });
    }
  }
//document.getElementById("start").value
//document.getElementById("end").value

  directionsService
    .route({
      origin: document.getElementById("t1").value,
      destination:  document.getElementById("t2").value,
      waypoints: waypts,
      optimizeWaypoints: true,
      travelMode: google.maps.TravelMode.DRIVING,
    })
    .then((response) => {
      directionsRenderer.setDirections(response);

      const route = response.routes[0];
      const summaryPanel = document.getElementById("directions-panel");

      summaryPanel.innerHTML = "";

      // For each route, display summary information.
      for (let i = 0; i < route.legs.length; i++) {
	  
	 
        const routeSegment = i + 1;

        summaryPanel.innerHTML +=
          "<b>Route Segment: " + routeSegment + "</b><br>";
        summaryPanel.innerHTML += route.legs[i].start_address + " to ";
        summaryPanel.innerHTML += route.legs[i].end_address + "<br>";
        summaryPanel.innerHTML += route.legs[i].distance.text + "<br><br>";
      }
    })
    .catch((e) => window.alert("Directions request failed due to " + status));
}

function customDirectionsRenderer(response, status) {
  if (status == google.maps.DirectionsStatus.OK) {
  directionsDisplay.setDirections(response);
    var bounds = new google.maps.LatLngBounds();
	var tt="";
    var route = response.routes[0];
    var path = response.routes[0].overview_path;
    var legs = response.routes[0].legs;
    for (i = 0; i < legs.length; i++) {
      var polyline = new google.maps.Polyline({map:map, strokeColor: "blue", path:[]})
      if (i == 1) {
        polyline.setOptions({strokeColor: "red"});
        }
      var steps = legs[i].steps;
      for (j = 0; j < steps.length; j++) {
        var nextSegment = steps[j].path;
		
        for (k = 0; k < nextSegment.length; k++) {
          polyline.getPath().push(nextSegment[k]);
          bounds.extend(nextSegment[k]);
		  
		  //tt+="aa"+", ";
		 
		  
		  //////////////////
        }
      }
    }
	///////////
	 
	
	
    polyline.setMap(map);
	
    map.fitBounds(bounds);
  }
};

window.initMap = initMap;

	</script>
  </head>
  <body onLoad="">
    <div id="container">
      <div id="map"></div>
      <div id="sidebar">
        <div>
		<input type="hidden" id="waypoints" value="">
          <!--<b>Start:</b>
          <select id="start">
		  <option value="Trichy">Trichy</option>
		  <option value="Chatram, Trichy">Chatram, Trichy</option>
		  <option value="Palakkarai">Palakkarai</option>
		  <option value="Tiruchirappalli Collectorate">Tiruchirappalli Collectorate</option>
		  <option value="Tiruvalarsolai">Tiruvalarsolai</option>
		  <option value="Thillai Nagar">Thillai Nagar</option>
		  <option value="Bharathidasan University">Bharathidasan University</option>
		  
		  
            <option value="Halifax, NS">Halifax, NS</option>
            <option value="Boston, MA">Boston, MA</option>
            <option value="New York, NY">New York, NY</option>
            <option value="Miami, FL">Miami, FL</option>
          </select>
          <br />
          <b>Waypoints:</b> <br />
          <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br />
          <select multiple id="waypoints">
		  <option value="Viluppuram">Viluppuram</option>
		  <option value="Salem">Salem</option>
		  <option value="Palakkarai">Palakkarai</option>
		  <option value="Thillainagar">Thillainagar</option>
		  <option value="Worraiyur">Worraiyur</option>
		  
		  
		  
            <option value="montreal, quebec">Montreal, QBC</option>
            <option value="toronto, ont">Toronto, ONT</option>
            <option value="chicago, il">Chicago</option>
            <option value="winnipeg, mb">Winnipeg</option>
            <option value="fargo, nd">Fargo</option>
            <option value="calgary, ab">Calgary</option>
            <option value="spokane, wa">Spokane</option>
          </select>
          <br />
          <b>End:</b>
          <select id="end">
		  <option value="">-End-</option>
		  <option>Palakkarai, Trichy</option>
		  <option value="Chennai">Chennai</option>
		  <option value="Central Bus Stand, Trichy">Central Bus Stand, Trichy</option>
		  
		  
		  <option value="Palakkarai">Palakkarai</option>
		  <option value="Tiruchirappalli Collectorate">Tiruchirappalli Collectorate</option>
		  <option value="Tiruvalarsolai">Tiruvalarsolai</option>
		  <option value="Thillai Nagar">Thillai Nagar</option>
		  <option value="Bharathidasan University">Bharathidasan University</option>
		  
            <option value="Vancouver, BC">Vancouver, BC</option>
            <option value="Seattle, WA">Seattle, WA</option>
            <option value="San Francisco, CA">San Francisco, CA</option>
            <option value="Los Angeles, CA">Los Angeles, CA</option>
          </select>
          <br />
		  
          <input type="submit" id="submit" />-->
		  
		  
        </div>
        <div id="directions-panel"></div>
		
		<textarea id="gg"></textarea>
		 <div id="vertex-container">
			<label>Points</label>
			<ul id="vertex">
			</ul>
		</div>
		
		
		
		
		
		
      </div>
    </div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html><input type="text" id="t1" name="t1" value="Golden Rock, Tiruchirappalli"><input type="text" id="t2" name="t2" value="Teppakulam, Tiruchirappalli">